In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

userpd = pd.read_csv("data/user.csv")
bookpd = pd.read_csv("data/book.csv")

In [2]:
userpd

       UserID Name    Type  PhoneNumber  CurrentBorrow  History
0  2435219977   张三  normal  18212341234            NaN      NaN
1  2644622235   李四     vip  18312341234            NaN      NaN
2  2957920116   王五  normal  18412341234            NaN      NaN
3  3621320845   赵六     vip  18512341234            NaN      NaN

In [3]:
bookpd

,BookID,Name,ISBN,Publisher,Date,Author,Tag
0,32534357932140729702,编译原理,3-68-81-37,科学出版社,1961-1-13,Amy,cs
1,35745316392604127861,计算方法,6-90-42-93,科学出版社,1969-8-20,Bob,math
2,31639278612252230784,算法基础,4-91-91-43,科学出版社,1934-8-25,Cindy,cs
3,38543264263680731243,随机过程,5-87-95-44,科学出版社,1991-3-22,David,cs
4,3574531639264263259332476,计算机网络,3-5-22-31,机械工业出版社,1972-5-19,Emily,cs

In [4]:
uid = "123456789"
uid[-5:]

'56789'

In [5]:
bookpd.to_csv("data/testb.csv",index=False,sep=',')

In [6]:
bookpd[bookpd.Name == "计算方法"]

                 BookID  Name        ISBN Publisher       Date Author   Tag
1  35745316392604127861  计算方法  6-90-42-93     科学出版社  1969-8-20    Bob  math

In [7]:
newbook = pd.DataFrame({'BookID':'123456789','Name':'面向对象','ISBN':'8-60-43-83','Publisher':'邮电出版社','Date':'2008-3-15','Author':'Jack','Tag':'cs'},index=[0])
#bookpd = bookpd.append(newbook,ignore_index=False)
newbook

      BookID  Name        ISBN Publisher       Date Author Tag
0  123456789  面向对象  8-60-43-83     邮电出版社  2008-3-15   Jack  cs

In [8]:
bookpd = bookpd.append(newbook,ignore_index=True)
bookpd

,BookID,Name,ISBN,Publisher,Date,Author,Tag
0,32534357932140729702,编译原理,3-68-81-37,科学出版社,1961-1-13,Amy,cs
1,35745316392604127861,计算方法,6-90-42-93,科学出版社,1969-8-20,Bob,math
2,31639278612252230784,算法基础,4-91-91-43,科学出版社,1934-8-25,Cindy,cs
3,38543264263680731243,随机过程,5-87-95-44,科学出版社,1991-3-22,David,cs
4,3574531639264263259332476,计算机网络,3-5-22-31,机械工业出版社,1972-5-19,Emily,cs
5,123456789,面向对象,8-60-43-83,邮电出版社,2008-3-15,Jack,cs

In [19]:
bookpd[bookpd.Name == '计算机网络'].index[0]

4

In [20]:
bookpd  = bookpd.drop(bookpd[bookpd.Name == '计算机网络'].index[0])

In [21]:
bookpd

                 BookID  Name        ISBN Publisher       Date Author   Tag
0  32534357932140729702  编译原理  3-68-81-37     科学出版社  1961-1-13    Amy    cs
1  35745316392604127861  计算方法  6-90-42-93     科学出版社  1969-8-20    Bob  math
2  31639278612252230784  算法基础  4-91-91-43     科学出版社  1934-8-25  Cindy    cs
3  38543264263680731243  随机过程  5-87-95-44     科学出版社  1991-3-22  David    cs
5             123456789  面向对象  8-60-43-83     邮电出版社  2008-3-15   Jack    cs

In [24]:
bookpd.loc[bookpd[bookpd.Name == '面向对象'].index[0],'Date'] = '2018-3-15'

In [25]:
bookpd

                 BookID  Name        ISBN Publisher       Date Author   Tag
0  32534357932140729702  编译原理  3-68-81-37     科学出版社  1961-1-13    Amy    cs
1  35745316392604127861  计算方法  6-90-42-93     科学出版社  1969-8-20    Bob  math
2  31639278612252230784  算法基础  4-91-91-43     科学出版社  1934-8-25  Cindy    cs
3  38543264263680731243  随机过程  5-87-95-44     科学出版社  1991-3-22  David    cs
5             123456789  面向对象  8-60-43-83     邮电出版社  2018-3-15   Jack    cs

In [26]:
import PySimpleGUI as sg
sg.preview_all_look_and_feel_themes()

ModuleNotFoundError: No module named 'PySimpleGUI'