In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

userpd = pd.read_csv("data/user.csv")
bookpd = pd.read_csv("data/book.csv")

In [2]:
userpd

       UserID Name    Type  PhoneNumber  CurrentBorrow  History
0  2435219977   张三  normal  18212341234            NaN      NaN
1  2644622235   李四     vip  18312341234            NaN      NaN
2  2957920116   王五  normal  18412341234            NaN      NaN
3  3621320845   赵六     vip  18512341234            NaN      NaN

In [3]:
bookpd

       BookID   Name        ISBN Publisher        Date Author   Tag  Stock
0  2140729702   编译原理   5-78-6-59     科学出版社    1932-7-9    Amy    cs      2
1  2604127861   计算方法  2-40-80-26     科学出版社   1958-5-26    Bob  math      3
2  2252230784   算法基础  2-98-27-88     科学出版社   2006-1-29  Cindy    cs      4
3  3680731243   随机过程  9-37-80-17     科学出版社  1906-13-27  David    cs      5
4  3259332476  计算机网络  9-57-55-23   机械工业出版社  1983-12-27  Emily    cs      6

In [4]:
uid = "123456789"
uid[-5:]

'56789'

In [5]:
bookpd.to_csv("data/testb.csv",index=False,sep=',')

In [6]:
bookpd[bookpd.Name == "计算方法"]

       BookID  Name        ISBN Publisher       Date Author   Tag  Stock
1  2604127861  计算方法  2-40-80-26     科学出版社  1958-5-26    Bob  math      3

In [7]:
newbook = pd.DataFrame({'BookID':'123456789','Name':'面向对象','ISBN':'8-60-43-83','Publisher':'邮电出版社','Date':'2008-3-15','Author':'Jack','Tag':'cs'},index=[0])
#bookpd = bookpd.append(newbook,ignore_index=False)
newbook

      BookID  Name        ISBN Publisher       Date Author Tag
0  123456789  面向对象  8-60-43-83     邮电出版社  2008-3-15   Jack  cs

In [8]:
bookpd = bookpd.append(newbook,ignore_index=True)
bookpd

/home/cattty/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

  Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社    2.0    cs
1    Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社    3.0  math
2  Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社    4.0    cs
3  David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社    5.0    cs
4  Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社    6.0    cs
5   Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社    NaN    cs

In [9]:
bookpd[bookpd.Name == '计算机网络'].index[0]

4

In [47]:
#bookpd  = bookpd.drop(bookpd[bookpd.Name == '计算机网络'].index[0])
bbdf = bookpd[bookpd.Tag == 'cs'][bookpd.Stock < 4]
bbdf
#bbdf['Stock'] -= 1
bbdf
#bookpd[bookpd.ISBN == bbdf['ISBN'][0]]['Stock'] -=1
#bookpd.loc[bookpd[bookpd.ISBN == bbdf['ISBN'][0]].index[0],'Stock'] -= 1
bookpd.loc[bookpd[bookpd.ISBN == bbdf['ISBN'][0]].index[0],'Stock'] = 3 + bbdf['Stock'][0]
bookpd

/home/cattty/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

  Author      BookID        Date        ISBN  Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59  编译原理     科学出版社    6.0    cs
1    Bob  2604127861   1958-5-26  2-40-80-26  计算方法     科学出版社    3.0  math
2  Cindy  2252230784   2006-1-29  2-98-27-88  算法基础     科学出版社    4.0    cs
3  David  3680731243  1906-13-27  9-37-80-17  随机过程     科学出版社    5.0    cs
5   Jack   123456789   2018-3-15  8-60-43-83  面向对象     邮电出版社    NaN    cs

In [11]:
bookpd

  Author      BookID        Date        ISBN  Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59  编译原理     科学出版社    2.0    cs
1    Bob  2604127861   1958-5-26  2-40-80-26  计算方法     科学出版社    3.0  math
2  Cindy  2252230784   2006-1-29  2-98-27-88  算法基础     科学出版社    4.0    cs
3  David  3680731243  1906-13-27  9-37-80-17  随机过程     科学出版社    5.0    cs
5   Jack   123456789   2008-3-15  8-60-43-83  面向对象     邮电出版社    NaN    cs

In [12]:
bookpd.loc[bookpd[bookpd.Name == '面向对象'].index[0],'Date'] = '2018-3-15'

In [13]:
bookpd

  Author      BookID        Date        ISBN  Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59  编译原理     科学出版社    2.0    cs
1    Bob  2604127861   1958-5-26  2-40-80-26  计算方法     科学出版社    3.0  math
2  Cindy  2252230784   2006-1-29  2-98-27-88  算法基础     科学出版社    4.0    cs
3  David  3680731243  1906-13-27  9-37-80-17  随机过程     科学出版社    5.0    cs
5   Jack   123456789   2018-3-15  8-60-43-83  面向对象     邮电出版社    NaN    cs

In [48]:
bookpd['BookID']
for index, row in bookpd.iterrows():
    if(index == 0):
        print(row)

Author              Amy
BookID       2140729702
Date           1932-7-9
ISBN          5-78-6-59
Name               编译原理
Publisher         科学出版社
Stock                 6
Tag                  cs
Name: 0, dtype: object

In [59]:
import re
his = '@@计算机网络%%@@编译原理%%'
print(re.findall(r"@@(.+?)%%",his))

['计算机网络', '编译原理']

In [63]:
name = '计算机网络'
name = '@@'+name+'%%'
name
his = his.replace(name,'')
his

'@@编译原理%%'