In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

userpd = pd.read_csv("data/user.csv")
bookpd = pd.read_csv("data/book.csv")

In [2]:
userpd

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@面向对象%%@@计算方法%%@@随机过程%%,@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%@@计算机网络%%@@编译原理%%
1,2644622235,李四,vip,18312341234,None,None
2,2957920116,王五,normal,18412341234,None,None
3,3621320845,赵六,normal,18512341234,None,None
4,1526495812,吕七,vip,19254859625,None,None
5,4235162580,毕九,vip,18255525569,None,@@算法基础%%

In [3]:
bookpd

   Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0     Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1     Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      2  math
2   Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      5    cs
3   David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4   Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5   Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社      1    cs
6  George  5943826154   2014-9-30  6-23-94-21    运筹学   清华大学出版社      4  math
7   Helen  9546281543   2016-5-18  7-23-95-12   操作系统   机械工业出版社      3    cs

In [4]:
uid = "123456789"
uid[-5:]

'56789'

In [5]:
bookpd.to_csv("data/testb.csv",index=False,sep=',')

In [6]:
bookpd[bookpd.Name == "计算方法"]

  Author      BookID       Date        ISBN  Name Publisher  Stock   Tag
1    Bob  2604127861  1958-5-26  2-40-80-26  计算方法     科学出版社      2  math

In [7]:
newbook = pd.DataFrame({'BookID':'123456789','Name':'面向对象','ISBN':'8-60-43-83','Publisher':'邮电出版社','Date':'2008-3-15','Author':'Jack','Tag':'cs','Stock':3},index=[0])
#bookpd = bookpd.append(newbook,ignore_index=False)
newbook

      BookID  Name        ISBN Publisher       Date Author Tag  Stock
0  123456789  面向对象  8-60-43-83     邮电出版社  2008-3-15   Jack  cs      3

In [8]:
bookpd = bookpd.append(newbook,ignore_index=True)
bookpd

/home/cattty/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

   Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0     Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1     Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      2  math
2   Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      5    cs
3   David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4   Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5   Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社      1    cs
6  George  5943826154   2014-9-30  6-23-94-21    运筹学   清华大学出版社      4  math
7   Helen  9546281543   2016-5-18  7-23-95-12   操作系统   机械工业出版社      3    cs
8    Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社      3    cs

In [9]:
bookpd[bookpd.Name == '计算机网络'].index[0]

4

In [10]:
#bookpd  = bookpd.drop(bookpd[bookpd.Name == '计算机网络'].index[0])
bbdf = bookpd[bookpd.Tag == 'cs'][bookpd.Stock < 4]
bbdf
#bbdf['Stock'] -= 1
bbdf
#bookpd[bookpd.ISBN == bbdf['ISBN'][0]]['Stock'] -=1
#bookpd.loc[bookpd[bookpd.ISBN == bbdf['ISBN'][0]].index[0],'Stock'] -= 1
#bookpd.loc[bookpd[bookpd.ISBN == bbdf['ISBN'][0]].index[0],'Stock'] = 3 + bbdf['Stock'][0]
bookpd

/home/cattty/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0     Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1     Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      2  math
2   Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      5    cs
3   David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4   Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5   Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社      1    cs
6  George  5943826154   2014-9-30  6-23-94-21    运筹学   清华大学出版社      4  math
7   Helen  9546281543   2016-5-18  7-23-95-12   操作系统   机械工业出版社      3    cs
8    Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社      3    cs

In [11]:
bookpd

   Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0     Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1     Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      2  math
2   Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      5    cs
3   David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4   Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5   Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社      1    cs
6  George  5943826154   2014-9-30  6-23-94-21    运筹学   清华大学出版社      4  math
7   Helen  9546281543   2016-5-18  7-23-95-12   操作系统   机械工业出版社      3    cs
8    Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社      3    cs

In [12]:
bookpd.loc[bookpd[bookpd.Name == '面向对象'].index[0],'Date'] = '2018-3-15'

In [13]:
bookpd

   Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0     Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1     Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      2  math
2   Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      5    cs
3   David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4   Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5   Frank  2195342051   2018-3-15  4-23-61-20   面向对象   人民邮电出版社      1    cs
6  George  5943826154   2014-9-30  6-23-94-21    运筹学   清华大学出版社      4  math
7   Helen  9546281543   2016-5-18  7-23-95-12   操作系统   机械工业出版社      3    cs
8    Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社      3    cs

In [14]:
bookpd['BookID']
for index, row in bookpd.iterrows():
    if(index == 0):
        print(row)

Author              Amy
BookID       2140729702
Date           1932-7-9
ISBN          5-78-6-59
Name               编译原理
Publisher         科学出版社
Stock                 6
Tag                  cs
Name: 0, dtype: object

In [15]:
import re
his = '@@计算机网络%%@@编译原理%%'
print(re.findall(r"@@(.+?)%%",his))

['计算机网络', '编译原理']

In [16]:
name = '计算机网络'
name = '@@'+name+'%%'
name
his = his.replace(name,'')
his

'@@编译原理%%'

In [17]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
cur = pd.read_csv("data/user.csv")
cur

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@面向对象%%@@计算方法%%@@随机过程%%,@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%@@计算机网络%%@@编译原理%%
1,2644622235,李四,vip,18312341234,None,None
2,2957920116,王五,normal,18412341234,None,None
3,3621320845,赵六,normal,18512341234,None,None
4,1526495812,吕七,vip,19254859625,None,None
5,4235162580,毕九,vip,18255525569,None,@@算法基础%%

In [18]:
cur[cur.Name == "张三"]

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@面向对象%%@@计算方法%%@@随机过程%%,@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%@@计算机网络%%@@编译原理%%

In [19]:
cur[cur.Name == "张三"]['Type'][0]

'normal'

In [20]:
curr = cur[cur.Name == "张三"]
curr

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@面向对象%%@@计算方法%%@@随机过程%%,@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%@@计算机网络%%@@编译原理%%

In [21]:
curr['Name'][0]

'张三'

In [22]:
curr['CurrentBorrow'][0] = curr['CurrentBorrow'][0] + "@@面向对象%%"
curr

/home/cattty/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/cattty/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@面向对象%%@@计算方法%%@@随机过程%%@@面向对象%%,@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%@@计算机网络%%@@编译原理%%

In [23]:
curr.loc[0,'CurrentBorrow'] = curr.loc[0,'CurrentBorrow'] + "@@计算方法%%"
curr

/home/cattty/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@面向对象%%@@计算方法%%@@随机过程%%@@面向对象%%@@计算方法%%,@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%@@计算机网络%%@@编译原理%%

In [24]:
bookpd
bbdf.index[0]

5

In [25]:
type(curr.loc[curr.index[0],'Type'])

str

In [26]:
type("normal")

str

In [27]:
if(curr.loc[curr.index[0],'Type']=='normal'):
    print("hhh")

hhh

In [28]:
li = [1,2,3]
if not 4 in li:
    print("fff")

fff

In [29]:
aaa = "@@算法基础%%@@面向对象%%@@计算方法%%@@随机过程%%"
aaa = aaa.replace("@@"+"算法基础"+"%%","",1)
aaa

'@@面向对象%%@@计算方法%%@@随机过程%%'

In [30]:
aaa = pd.read_csv("data/book.csv")
bbb = pd.read_csv("data/book2.csv")

In [31]:
aaa

   Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0     Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1     Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      2  math
2   Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      5    cs
3   David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4   Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5   Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社      1    cs
6  George  5943826154   2014-9-30  6-23-94-21    运筹学   清华大学出版社      4  math
7   Helen  9546281543   2016-5-18  7-23-95-12   操作系统   机械工业出版社      3    cs

In [32]:
bbb

  Author      BookID       Date        ISBN     Name    Publisher  Stock   Tag
0    Amy  2140729702   1932-7-9   5-78-6-59     编译原理        科学出版社      6    cs
1   Jack  6521495263  2000-6-20   5-84-26-1   数学物理方法  中国科学技术大学出版社      3  math
2    Kim  3201520192   2013-5-9  9-20-61-32  计算机组成原理      高等教育出版社      5    cs

In [33]:
ccc = pd.concat([aaa,bbb], axis=0, join='outer', join_axes=None, ignore_index=True,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [34]:
ccc

,Author,BookID,Date,ISBN,Name,Publisher,Stock,Tag
0,Amy,2140729702,1932-7-9,5-78-6-59,编译原理,科学出版社,6,cs
1,Bob,2604127861,1958-5-26,2-40-80-26,计算方法,科学出版社,2,math
2,Cindy,2252230784,2006-1-29,2-98-27-88,算法基础,科学出版社,5,cs
3,David,3680731243,1906-13-27,9-37-80-17,随机过程,科学出版社,5,cs
4,Emily,3259332476,1983-12-27,9-57-55-23,计算机网络,机械工业出版社,6,cs
5,Frank,2195342051,2018-3-16,4-23-61-20,面向对象,人民邮电出版社,1,cs
6,George,5943826154,2014-9-30,6-23-94-21,运筹学,清华大学出版社,4,math
7,Helen,9546281543,2016-5-18,7-23-95-12,操作系统,机械工业出版社,3,cs
8,Amy,2140729702,1932-7-9,5-78-6-59,编译原理,科学出版社,6,cs
9,Jack,6521495263,2000-6-20,5-84-26-1,数学物理方法,中国科学技术大学出版社,3,math
10,Kim,3201520192,2013-5-9,9-20-61-32,计算机组成原理,高等教育出版社,5,cs

In [37]:
ddd = pd.merge(aaa, bbb, how='outer')

In [38]:
ddd

,Author,BookID,Date,ISBN,Name,Publisher,Stock,Tag
0,Amy,2140729702,1932-7-9,5-78-6-59,编译原理,科学出版社,6,cs
1,Bob,2604127861,1958-5-26,2-40-80-26,计算方法,科学出版社,2,math
2,Cindy,2252230784,2006-1-29,2-98-27-88,算法基础,科学出版社,5,cs
3,David,3680731243,1906-13-27,9-37-80-17,随机过程,科学出版社,5,cs
4,Emily,3259332476,1983-12-27,9-57-55-23,计算机网络,机械工业出版社,6,cs
5,Frank,2195342051,2018-3-16,4-23-61-20,面向对象,人民邮电出版社,1,cs
6,George,5943826154,2014-9-30,6-23-94-21,运筹学,清华大学出版社,4,math
7,Helen,9546281543,2016-5-18,7-23-95-12,操作系统,机械工业出版社,3,cs
8,Jack,6521495263,2000-6-20,5-84-26-1,数学物理方法,中国科学技术大学出版社,3,math
9,Kim,3201520192,2013-5-9,9-20-61-32,计算机组成原理,高等教育出版社,5,cs