In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

userpd = pd.read_csv("data/user.csv")
bookpd = pd.read_csv("data/book.csv")

In [2]:
userpd

,UserID,Name,Type,PhoneNumber,CurrentBorrow,History
0,2435219977,张三,normal,18212341234,@@随机过程%%,@@随机过程%%@@计算机网络%%@@编译原理%%
1,2644622235,李四,vip,18312341234,None,None
2,2957920116,王五,normal,18412341234,None,None
3,3621320845,赵六,normal,18512341234,None,None
4,1526495812,吕七,vip,19254859625,None,None
5,4235162580,毕九,vip,18255525569,None,@@算法基础%%

In [3]:
bookpd

  Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社      6    cs
1    Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社      3  math
2  Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社      4    cs
3  David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社      5    cs
4  Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社      6    cs
5  Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社      2    cs

In [4]:
uid = "123456789"
uid[-5:]

'56789'

In [5]:
bookpd.to_csv("data/testb.csv",index=False,sep=',')

In [6]:
bookpd[bookpd.Name == "计算方法"]

  Author      BookID       Date        ISBN  Name Publisher  Stock   Tag
1    Bob  2604127861  1958-5-26  2-40-80-26  计算方法     科学出版社      3  math

In [7]:
newbook = pd.DataFrame({'BookID':'123456789','Name':'面向对象','ISBN':'8-60-43-83','Publisher':'邮电出版社','Date':'2008-3-15','Author':'Jack','Tag':'cs','Stock':3},index=[0])
#bookpd = bookpd.append(newbook,ignore_index=False)
newbook

      BookID  Name        ISBN Publisher       Date Author Tag
0  123456789  面向对象  8-60-43-83     邮电出版社  2008-3-15   Jack  cs

In [8]:
bookpd = bookpd.append(newbook,ignore_index=True)
bookpd

  Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社    6.0    cs
1    Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社    3.0  math
2  Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社    4.0    cs
3  David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社    5.0    cs
4  Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社    6.0    cs
5  Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社    2.0    cs
6   Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社    NaN    cs

In [9]:
bookpd[bookpd.Name == '计算机网络'].index[0]

4

In [12]:
#bookpd  = bookpd.drop(bookpd[bookpd.Name == '计算机网络'].index[0])
bbdf = bookpd[bookpd.Tag == 'cs'][bookpd.Stock < 4]
bbdf
#bbdf['Stock'] -= 1
bbdf
#bookpd[bookpd.ISBN == bbdf['ISBN'][0]]['Stock'] -=1
#bookpd.loc[bookpd[bookpd.ISBN == bbdf['ISBN'][0]].index[0],'Stock'] -= 1
#bookpd.loc[bookpd[bookpd.ISBN == bbdf['ISBN'][0]].index[0],'Stock'] = 3 + bbdf['Stock'][0]
bookpd

H:\anaconda\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

  Author      BookID        Date        ISBN   Name Publisher  Stock   Tag
0    Amy  2140729702    1932-7-9   5-78-6-59   编译原理     科学出版社    6.0    cs
1    Bob  2604127861   1958-5-26  2-40-80-26   计算方法     科学出版社    3.0  math
2  Cindy  2252230784   2006-1-29  2-98-27-88   算法基础     科学出版社    4.0    cs
3  David  3680731243  1906-13-27  9-37-80-17   随机过程     科学出版社    5.0    cs
4  Emily  3259332476  1983-12-27  9-57-55-23  计算机网络   机械工业出版社    6.0    cs
5  Frank  2195342051   2018-3-16  4-23-61-20   面向对象   人民邮电出版社    2.0    cs
6   Jack   123456789   2008-3-15  8-60-43-83   面向对象     邮电出版社    NaN    cs

In [ ]:
bookpd

In [ ]:
bookpd.loc[bookpd[bookpd.Name == '面向对象'].index[0],'Date'] = '2018-3-15'

In [ ]:
bookpd

In [ ]:
bookpd['BookID']
for index, row in bookpd.iterrows():
    if(index == 0):
        print(row)

In [ ]:
import re
his = '@@计算机网络%%@@编译原理%%'
print(re.findall(r"@@(.+?)%%",his))

In [ ]:
name = '计算机网络'
name = '@@'+name+'%%'
name
his = his.replace(name,'')
his

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
cur = pd.read_csv("data/user.csv")
cur

In [ ]:
cur[cur.Name == "张三"]

In [ ]:
cur[cur.Name == "张三"]['Type'][0]

In [ ]:
curr = cur[cur.Name == "张三"]
curr

In [ ]:
curr['Name'][0]

In [ ]:
curr['CurrentBorrow'][0] = curr['CurrentBorrow'][0] + "@@面向对象%%"
curr

In [ ]:
curr.loc[0,'CurrentBorrow'] = curr.loc[0,'CurrentBorrow'] + "@@计算方法%%"
curr

In [ ]:
bookdf